<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>filenomics • File Uploader</title>
        <link rel="stylesheet"
              href="{{ url_for('static', filename='css/style.css') }}" />
        <!-- Include the external JavaScript file -->
        <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    </head>
    <body>
        <div class="container">
            <h1>filenomics~</h1>
            <ul>
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        {% for message in messages %}<li>{{ message }}</li>{% endfor %}
                    {% endif %}
                {% endwith %}
            </ul>
            <form method="POST" enctype="multipart/form-data">
                <input type="file" name="file" id="file" required />
                
                <br />
                <input type="password" name="password" placeholder="Password" required />
                <br />
                
                <input type="submit" value="Upload" />
                <h4>Optional settings</h4>
                <input type="text" name="custom_extension" placeholder="Custom extension" />
                <br />
                <label for="preserve_filename">
                    <input type="checkbox"
                           name="preserve_filename"
                           id="preserve_filename"
                           value="1"
                           onchange="toggleCustomFilename()" />
                    Preserve filename.
                </label>
                <br />
                <br />
                <input type="text"
                       name="custom_filename"
                       id="custom_filename"
                       placeholder="Custom filename" />
                <br />
                <label for="do_not_redirect">
                    <input type="checkbox" name="do_not_redirect" id="do_not_redirect" value="1" />
                    Do not redirect to file (returns the URL).
                </label>
            </form>
            <div class="github-link">
                <p>
                    <a href="https://github.com/andwati/filenomics">View the project on GitHub</a>.
                </p>
            </div>
        </div>
    </body>
